.app {
    &__end {
        background: #020567;
        min-height: 60px;
        padding: 0 120px;
        font-size: 24px;
        font-weight: 700;
        line-height: 60px;
	    color: rgba(231, 57, 57, 0.815);
    }
}